<div class="card-mower card-mower">
  <% if mower.photo.key %>
    <%= cl_image_tag(mower.photo.key) %>
  <% else %>
    <img src="https://media.gerbeaud.net/2020/02/640/tondeuse-electrique-tractee-viking.jpg" alt="Great mower">
  <% end %>
  <div class="card-mower-infos">
    <div class="card-mower-text-container">
      <h2><%= mower.title %></h2>
      <p><%= mower.user.address %></p>
    </div>
    <div class="card-mower-pricing-container">
      <h2 class="card-mower-pricing">$<%= mower.price_per_day %> per day</h2>
    </div>
  </div>
  <div class="card-mower-actions">
    <%= link_to("More info", mower_path(mower), class: "btn btn-primary") %>
  </div>
</div>
