<div>
  <div class="row m-0">
    <div class="col-12 col-sm-6 p-0">
        <div id="map" data-mapbox-key="<%= ENV["MAPBOX_API_KEY"] %>" data-markers="<%= @markers.to_json %>" ></div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="pl-0 pt-2">
        <div class="search-results">
          <p>Your results for: <strong><%= @search_location %></strong>.</p>
          <% if @mowers.count > 0 %>
            <h3>Awesome! We found <strong><%= @mowers.count %></strong> lawn mowers available for you!</h3>
          <% else %>
            <h3>Oh no 😭! There are no results for that location.</h3>
          <% end %>
        </div>
        <div class="index-cards-container">
          <% @mowers.each do |mower| %>
            <%= render partial: 'index-card', locals: {mower: mower} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
