<div class="containerr">
  <div class= "form_new">
    <h1>Editing your new mower</h1>
      <div>
        <%= simple_form_for @mower do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :price_per_day %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Edit my mower", class:"button" %>
      <% end %>
  </div>
</div>
