<div class="d-flex align-items-center justify-content-center mt-3">
  <div class="bg-white rounded p-3 shadow">
    <h3>Edit your booking !</h3>
    <h2><%= @mower.title %></h2>
    <%= simple_form_for [@mower, @booking] do |f| %>
      <%= f.input :pickup_date %>
      <%= f.input :return_date %>
      <%= f.submit "Edit my booking", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
