<div class="m-3">
  <h1><%=@user.user_name%></h1>

  <% unless @user.bookings.empty? %>
    <h2>Bookings</h2>
    <div class="list-grid">
      <% @user.bookings.each do |booking| %>
        <div class="bg-white rounded shadow mt-2 p-3">
          <h4><%= booking.mower.title %></h4>
          <h5>Owner: <%= booking.mower.user.user_name %></h5>
          <div>Address: <%= booking.mower.user.address%></div>
          <div>Pickup date: <%= booking.pickup_date %></div>
          <div>Return date: <%= booking.return_date %></div>
          <div>Total price: <%= booking.price %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
