<div class="m-3">
  <h1><%=@user.user_name%></h1>

  <% unless @user.bookings.empty? %>
    <div class="bg-white user-container shadow p-3 my-3">
      <h2>My bookings</h2>



      <div class="flex">
        <% @user.bookings.each do |booking| %>
          <div class="d-flex bg-white rounded shadow mt-3">
            <% if booking.mower.photo.key %>
              <%= cl_image_tag(booking.mower.photo.key, class:"user-cards-img rounded-left")%>
            <% else %>
              <img src="https://media.gerbeaud.net/2020/02/640/tondeuse-electrique-tractee-viking.jpg" alt="Great mower", class="user-cards rounded-top">
            <% end %>
            <div class="p-3">
              <h4><%= booking.mower.title %></h4>
              <strong>Owner: <%= booking.mower.user.user_name %></strong>
              <div>Address: <%= booking.mower.user.address%></div>
              <div>Pickup date: <%= booking.pickup_date %></div>
              <div>Return date: <%= booking.return_date %></div>
              <div>Total price: <%= booking.price %></div>
              <%= link_to "Delete",
                user_path(booking.id),
                method: :delete %>
              <%= link_to "Edit", edit_mower_booking_path(booking.mower, booking) %>
            </div>
          </div>
        <% end %>
      </div>


    </div>
  <% end %>

  <% unless @user.mowers.empty? %>
    <div class="bg-white user-container shadow p-3 my-3">
      <h2>My mowers</h2>
      <div class="flex">
        <% @user.mowers.each do |mower| %>
          <div class="d-flex bg-white rounded shadow mt-2">
            <% if mower.photo.key %>
              <%= cl_image_tag(mower.photo.key, class:"user-cards-img rounded-top")%>
            <% else %>
              <img src="https://media.gerbeaud.net/2020/02/640/tondeuse-electrique-tractee-viking.jpg" alt="Great mower", class="user-cards rounded-top">
            <% end %>
            <div class="p-3">
              <h4><%= link_to mower.title, mower_path(mower) %></h4>
              <div>Address: <%= @user.address%></div>
              <div>Price per day: <%= mower.price_per_day %></div>
              <%= link_to "Delete",
                mower_path(mower.id),
                method: :delete %>
              <%= link_to "Edit", edit_mower_path(mower) %>
              <% unless mower.bookings.empty? %>
                <div><strong>Bookings coming up:</strong></div>
                <%mower.bookings.each do |booking| %>
                  <div> <strong>Booking with <%= booking.user.user_name %></strong></div>
                  <div>Pickup date: <%= booking.pickup_date %></div>
                  <div>Return date: <%= booking.return_date %></div>
                  <div>Total price: <%= booking.price %></div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
