<div class="m-3">
  <% unless @user == current_user %>
   <h1><%=@user.user_name%></h1>
  <% end %>
  <% unless @user.mowers.empty? %>
    <div class="pl-0 pt-2">
      <h3>My mowers (<%= @user.mowers.count %>)</h3>
      <div class="index-cards-container">
        <% @user.mowers.each do |mower| %>
          <%= render layout: 'shared/mower-card', locals: {mower: mower} do %>
            <div class="title-price">
              <div>
                <h2><%= mower.title %></h2>
              </div>
              <div class="pricing-container">
                <h2 class="card-mower-pricing"><strong>$<%= mower.price_per_day.round %></strong> / day</h2>
              </div>
            </div>
            <div class="card-mower-actions">
              <%= link_to("More info", mower_path(mower), class: "button") %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless @user.bookings.empty? %>
    <div class="pl-0 pt-2">
      <h3>My bookings (<%= @user.bookings.count %>)</h3>
      <div class="index-cards-container">
        <% @user.bookings.each do |booking| %>
          <%= render layout: 'shared/mower-card', locals: {mower: booking.mower} do %>
            <h2><%= booking.mower.title %></h2>
            <h2 class="card-mower-pricing"><strong>$<%= booking.price.round %></strong> for <%= (booking.return_date - booking.pickup_date + 1).to_i %> days</h2>
            <p>Pickup date: <%= booking.pickup_date.strftime('%e %B %Y')%></p>
            <p>Owner: <%=booking.mower.user.user_name%></p>
            <div class="incard-text ">
              <p>Address:</p>
              <p style="text-align:left"><%= booking.mower.user.address %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless @all_bookings.empty? %>
    <div class="pl-0 pt-2">
      <h3>Booking requests (<%= @all_bookings.count %>)</h3>
      <div class="index-cards-container">
        <% @all_bookings.each do |booking| %>
          <%= render layout: 'shared/mower-card', locals: {mower: booking.mower} do %>
            <h2><%= booking.mower.title %></h2>
            <h2 class="card-mower-pricing"><strong>$<%= booking.price.round %></strong> for <%= (booking.return_date - booking.pickup_date + 1).to_i %> days</h2>
            <p>Pickup date: <%= booking.pickup_date.strftime('%e %B %Y')%></p>
            <p>User: <%=booking.user.user_name%></p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
